<div class="row justify-content-center">
  <div class="col-lg-2 p-2 my-4">
  <h2 class="title_center">新規登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, class: "text_field", placeholder: "ユーザー名" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_field", placeholder: "Eメール" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class: "text_field", placeholder: "パスワード（６文字以上）" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text_field", placeholder: "パスワード（確認用）" %>
  </div>

  <div class="mt-2 actions">
    <%= f.submit "新規登録", class: "text_field btn btn-danger" %>
  </div>
<% end %>

<div class="mt-2">
  <%= render "devise/shared/links" %>
</div>
</div>
</div>