<div class="row">
  <div class="col-8 my-4">
  <h2>このサイトに投稿されている掲示板は<br>
  １時間で消えます。<br>
  だからこそ、過去の古い投稿などは無く<br>
  今ゲームをプレイしている人しかいません！</h2>
</div>
  <div class="col-4 p-2 my-4 bg-info">
  <h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "text_field" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_field" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "text_field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text_field" %>
  </div>

  <div class="mt-2 actions">
    <%= f.submit "新規登録", class: "btn btn-outline-success" %>
  </div>
<% end %>

<div class="mt-2">
  <%= render "devise/shared/links" %>
</div>
</div>
</div>
