<div class="pb-3">
  <h2 class="fw-bold">新規登録</h2>
</div>
<%= form_with model: @user, url: user_registration_path do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
  <div class="">
    <div class="col-xl-4 px-0 pb-3">
      <label class="form-label">ユーザー名</label>
      <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名" %>
      <p class="example">- 後から変更することができません</p>
    </div>
    <div class="col-xl-4 px-0 pb-3">
      <label class="form-label">Email</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
    </div>
    <div class="col-xl-4 px-0 pb-3">
      <label class="form-label">パスワード（６文字以上）</label>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード（６文字以上）" %>
    </div>
    <div class="col-xl-4 px-0 pb-4">
      <label class="form-label">パスワード（確認用）</label>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード（確認用）" %>
    </div>
    <div class="col-xl-4 px-0">
      <%= f.submit "新規登録", class: "btn btn-warning" %>
    </div>
  </div>
<% end %>
