<div class="pb-3">
  <h2>新規登録</h2>
</div>
<%= form_with model: @user, url: user_registration_path do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-12 pb-3">
      <label class="form-label">ユーザー名</label>
      <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名" %>
    </div>
    <div class="col-12 pb-3">
      <label class="form-label">Email</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
    </div>
    <div class="col-md-6 pb-3">
      <label class="form-label">パスワード（６文字以上）</label>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード（６文字以上）" %>
      <p class="example">例：Discord Skype など</p>
    </div>
    <div class="col-md-6 pb-3">
      <label class="form-label">パスワード（確認用）</label>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード（確認用）" %>
    </div>
    <div class="col-12">
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
