<div class="d-flex justify-content-center">
  <div class="pe-1">
  <% if current_user && current_user.favorite?(server) %>
    <%= link_to "参加をやめる", server_favorite_path(server.id), method: :delete, class:"btn btn-primary",style:"width:151px" %>
  <% else %>
    <%= link_to "参加する", server_favorite_path(server.id), method: :post, class:"btn btn-danger",style:"width:151px" %>
  <% end %>
  </div>

  <div class="ps-1">
    <% if current_user %>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:151px;">
        招待リンク
      </button>
    <% else %>
      <%= link_to "招待リンク", new_user_session_path, class: "btn btn-dark", style:"width:151px;" %>
    <% end %>
  </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= server.tool %>のリンク</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= server.link %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="btn btn-warning" data-url="<%= server.link %>" id="inviteButton" style:"width:100%;">リンクをコピー</div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  const inviteButton = document.getElementById('inviteButton')
  inviteButton.addEventListener('click', (e) => {
    const url = e.target.dataset.url
    navigator.clipboard.writeText(url)
    alert('コピーしました！')
  })
</script>
