<div class="card me-3 mb-3 p-0 shadow" style="width:21rem">
  <div class="card-header d-flex">
    <%= image_tag server.user.get_profile_image(50,50) ,class:"pe-2"%>
    <div class="">
      <h5 class="card-title m-0"><%= server.title %></h5>
      <span class="badge bg-dark text-light"><%= server.game_name %></span>
      <span class="badge bg-dark text-light"><%= server.tool %></span>
    </div>
  </div>
  <div class="card-body py-0 mb-2">
    <div class="card-text overflow-auto my-2"><%= server.body %></div>
    <% if params[:action] == "show" && params[:controller] == "servers" %>
      <%= render "servers/join_button_show", server: server %>
    <% else %>
      <%= link_to server_path(server.id),class:"text-light", style: "text-decoration:none;" do %>
        <p class="card-link m-0 d-flex justify-content-center rounded-pill bg-dark">コメント・参加申請はこちら</p>
      <% end %>
    <% end %>
  </div>
  <div class="card-footer">
    <div class="card-footer-text d-flex justify-content-between">
      <div class="">
        <div class="d-flex">
          <p class="align-middle m-0 pe-2">
            <%= "#{server.favorites.count}人参加予定" %>
          </p>
          <p class="align-middle m-0"><%= "#{server.server_comments.count}コメント" %></p>
        </div>
        <span class="text-black"><%== l(server.created_at, format: :default) %></span>
      </div>
    　<div class="btn btn-danger" data-url="<%= server.link %>" id="inviteButton">リンクをコピー</div>
    </div>
  </div>
</div>