<div class="container">
<div class="row mt-4 mb-4">
    <div class="col p-0">
      <h2>掲示板リスト</h2>
        募集中のゲーム<br>
        <%= link_to "全て", servers_path, class: "badge bg-secondary text-light" %>
        <% @game_names.each do | game_name | %>
          <%= link_to game_name, servers_path(game_name: game_name), class: "badge bg-secondary text-light" %>
        <% end %>
    </div>
  </div>
  <div class="row">
<% @servers.each do |server| %>
<div class="card me-3 mb-3 p-0" style="width: 20rem;">
    <div class="card-header d-flex">
      <%= image_tag server.user.get_profile_image(50,50) ,class:"pe-2"%>
      <div class="">
        <h5 class="card-title m-0"><%= server.title %></h5>
        <span class="badge bg-secondary text-light"><%= server.game_name %></span>
        <span class="badge bg-secondary text-light"><%= server.tool %></span>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="card-text overflow-auto my-2"><%= server.body %></div>
      <div class="card-footer-text d-flex justify-content-between">
        <div class="">
          <div class="d-flex text-dark">
            <p class="align-middle m-0 pe-2">
              <% if current_user.favorite?(server) %>
                <%= link_to "#{server.favorites.count}人参加予定", server_favorite_path(server.id), method: :delete, class:"text-danger" %>
              <% else %>
                <%= link_to "参加する", server_favorite_path(server.id), method: :post, class:"text-black" %>
              <% end %>
            </p>
            <p class="align-middle m-0"><%= link_to "#{server.server_comments.count}コメント", server_path(server.id),class:"text-black" %></p>
          </div>
          <span class="text-dark"><%== l(server.created_at, format: :default) %></span>
        </div>
      　<a href="<%= server.link %>" class="btn btn-danger">招待リンク</a>
      </div>
    </div>
  </div>
<% end %>
</div>

  <div class="justify-content-center">
    <%= paginate @servers %>
  </div>
</div>
</div>
</div>
