<div class="container">

  <h3>Now Gaming</h3>

  <div>
    <%= link_to "全て", servers_path, class: "badge bg-secondary text-light" %>
    <% @game_names.each do | game_name | %>
      <%= link_to game_name, servers_path(game_name: game_name), class: "badge bg-secondary text-light" %>
    <% end %>
  </div>

<% @servers.each do |server| %>
<div class="server-header">
  <div class="server-icon">

  </div>
</div>

      <td><%= server.game_name %></th>
      <td><%= server.server_name %></td>
      <td><%= server.title %></td>
      <td><%= server.body %></td>



<% end %>
<%= paginate @servers %>
  </div>
</div>
</div>