<div class="container">
  <div class="row">

  </div>
  <div class="row mt-3 mb-4">
    <div class="col">
      <h2>掲示板リスト</h2>
        募集中のゲーム<br>
        <%= link_to "全て", servers_path, class: "badge bg-secondary text-light" %>
        <% @game_names.each do | game_name | %>
          <%= link_to game_name, servers_path(game_name: game_name), class: "badge bg-secondary text-light" %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <% @servers.each do |server| %>
    <span class="col-sm-6 mb-4">
      <div class="d-flex p-1 bg-info">
      <div class="pe-2">
        <%= image_tag server.user.get_profile_image(50,50) %>
      </div>
      <div class="">
        <span class="server_name"><%= server.server_name %></span><br>
        <span class="badge bg-secondary text-light"><%= server.game_name %></span>
        <span class="badge bg-secondary text-light"><%= server.tool %></span>
      </div>
      </div>
      <div class="server_main">
        <div class="p-1 bg-info-subtle">
          <div class=""><%= server.title %></div>
          <div class=""><%= server.body %></div>
        </div>
      </div>
    </span>
    <% end %>
  </div>
  <div class="justify-content-center">
    <%= paginate @servers %>
  </div>
</div>




