<div class="container-fluid">
  <div class="row mb-4">
    <div class="col px-0 pb-2 border-bottom">
      <h2>掲示板リスト</h2>
      <p class="m-0">募集中のゲーム</p>
        <%= link_to "全て", servers_path, class: "badge bg-secondary text-light" %>
        <% @game_names.each do | game_name | %>
          <%= link_to game_name, servers_path(game_name: game_name), class: "badge bg-secondary text-light" %>
        <% end %>
    </div>
  </div>

  <% if @servers.any? %>
    <div class="row">
      <%= render @servers %>
    </div>
    <%= link_to "上記投稿以外で新たに募集する", new_server_path(game_name: params[:game_name]) %>
  <% else %>
    <p>no-data</p>
    <%= link_to "このゲームで新規募集する", new_server_path(game_name: params[:game_name]) %>
  <% end %>

  <div class="justify-content-center">
    <%= paginate @servers %>
  </div>
</div>

<script>
  const inviteButton = document.getElementById('inviteButton')
  inviteButton.addEventListener('click', (e) => {
    const url = e.target.dataset.url
    navigator.clipboard.writeText(url)
    alert('copied!')
  })
</script>
