<div class="container-fluid">
  <div class="row mb-4">
    <div class="col px-0 pb-3 border-bottom border-dark">
      <h2 class="fw-bold"><%= @plefix %>掲示板リスト</h2>
      <p class="m-0">募集中のゲーム</p>
        <%= link_to "全てのゲーム", servers_path, class: "badge bg-dark text-light" %>
        <% @game_names.each do | game_name | %>
          <%= link_to game_name, servers_path(game_name: game_name), class: "badge bg-dark text-light" %>
        <% end %>
    </div>
  </div>

  <% if @servers.any? %>
    <div class="responsive-center row">
      <%= render @servers %>
    </div>
    <div class="row">
      <div class="col p-0">
        <%= link_to "上記投稿以外で新たに仲間を募集する",new_server_path(game_name: params[:game_name]),class: "responsive-center-btn p-0 btn btn-warning p-2 shadow" %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <h4 class="m-0 p-0 pb-4">現在、このゲームの募集はありません</h4>
    </div>
    <div class="row">
      <div class="col p-0">
        <%= link_to "このゲームで新たに仲間を募集す",new_server_path(game_name: params[:game_name]),class: "responsive-center-btn p-0 btn btn-warning p-2 shadow" %>
      </div>
    </div>
  <% end %>


  <div class="justify-content-center pt-4">
    <%= paginate @servers %>
  </div>
</div>


<script>
  const inviteButton = document.getElementById('inviteButton')
  inviteButton.addEventListener('click', (e) => {
    const url = e.target.dataset.url
    navigator.clipboard.writeText(url)
    alert('copied!')
  })
</script>
