<div class="p-4">
<div class="row mb-4">
    <div class="col p-0">
      <h2>掲示板リスト</h2>
        募集中のゲーム<br>
        <%= link_to "全て", servers_path, class: "badge bg-secondary text-light" %>
        <% @game_names.each do | game_name | %>
          <%= link_to game_name, servers_path(game_name: game_name), class: "badge bg-secondary text-light" %>
        <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
<% @servers.each do |server| %>
<div class="card mx-4 mb-5 p-0" style="width: 30rem;">
    <div class="card-header d-flex">
      <%= image_tag server.user.get_profile_image(50,50) ,class:"pe-2"%>
      <div class="">
        <h5 class="card-title m-0"><%= server.title %></h5>
        <span class="badge bg-secondary text-light"><%= server.game_name %></span>
        <span class="badge bg-secondary text-light"><%= server.tool %></span>
      </div>
    </div>
    <div class="card-body pt-0">
    <div class="card-text overflow-auto my-2"><%= server.body %></div>
    <a href="<%= server.link %>" class="btn btn-danger">Go somewhere</a>
    </div>
  </div>
<% end %>
</div>

  <div class="justify-content-center">
    <%= paginate @servers %>
  </div>
</div>
</div>
