<div class="row justify-content-center">
  <div class="Registration card my-5">
    <div class="m-2">
      <h2>掲示板に投稿する</h2>
    <% if @server.errors.any? %>
      <%= @server.errors.count %>件のエラーが発生しました
      <ul>
        <% @server.errors.full_messages.each do |message| %>
          <li class="error_message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

  <%= form_with model: @server, url: '/servers', method: :post do |f| %>
   <div class="field">
    <%= f.text_field :title,class:"text_field", placeholder: "タイトル" %>
  </div>

  <div class="field">
    <%= f.text_field :game_name,class:"text_field", placeholder: "ゲーム名" %>
  </div>

  <div class="field">
    <%= f.text_field :tool,class:"text_field", placeholder: "通話アプリ" %>
    <p class="example">例：Discord Skype など</p>
  </div>

  <div class="field">
    <%= f.text_field :link,class:"text_field", placeholder: "招待リンク" %>
  </div>

  <div class="field">
    <%= f.text_area :body,class:"text_field", placeholder: "コメント" %>
  </div>

  <div class="field">
    <%= f.submit '投稿', class: "text_field btn btn-danger" %>
  </div>
<% end %>
  </div>
</div>
</div>

