<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 p-0">
      <%= render 'servers/server', server: @server %>
      <% if @server.user == current_user %>
        投稿を
        <%= link_to "編集", edit_server_path(@server.id), class:"btn-" %>/
        <%= link_to "削除", server_path(@server.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
    <div class="col-xl-9 p-0">
      <div class="mb-3 p-3 w-80" style="background-color: rgba(0, 0, 0, 0.03)">
        <% if current_user %>
          <div>
            <%= form_with model: [@server, @server_comment] do |f| %>
              <div class="d-flex">
                <div class="comment pe-2">
                  <%= f.text_area :comment, rows: '1', class: "form-control",  placeholder: "コメントをここに入力" %>
                </div>
                <div>
                  <%= f.submit "送信する", class: "btn btn-danger" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
  
        <p class="pt-2">コメント件数：<%= @server.server_comments.count %></p>
        <% @server.server_comments.each do |server_comment| %>
          <div class="pb-3 d-flex">
            <div class="d-flex">
              <div class="pe-1">
                <%= image_tag server_comment.user.get_profile_image(50,50) %>
              </div>
              <div class="align-self-center">
                <p class="m-0"><%= server_comment.created_at.strftime('%Y/%m/%d/%H:%M') %></p>
                <div class="d-flex">
                  <p class="m-0 pe-3"><%= server_comment.user.name %></p>
                  <div>
                  <p class="m-0" style="word-break:break-all"><%= server_comment.comment %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const inviteButton = document.getElementById('inviteButton')
  inviteButton.addEventListener('click', (e) => {
    const url = e.target.dataset.url
    navigator.clipboard.writeText(url)
    alert('copied!')
  })
</script>