<p><%= image_tag @server.user.get_profile_image(100,100) %></p>

<h2>ゲーム名</h2>
<p><%= image_tag @server.get_icon(50,50) %></p>
<p><%= @server.game_name %></p>

<h2>タイトル</h2>
<p><%= @server.title %></p>

<h2>コメント</h2>
<p><%= @server.body %></p>

    <div>
  <p>コメント件数：<%= @server.server_comments.count %></p>
  <% @server.server_comments.each do |server_comment| %>
    <p><%= image_tag server_comment.user.get_profile_image(100,100) %></p>
    <%= server_comment.user.name %>
    <%= server_comment.created_at.strftime('%Y/%m/%d') %><%= server_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@server, @server_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<%= link_to "編集", edit_server_path(@server.id) %>
<%= link_to "削除", server_path(@server.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
