<div class="container-fluid">
<div class="row mb-4 border-bottom">
  <h2 class="col-lg-auto pb-3 px-0 m-0"><%= image_tag @user.get_profile_image(100,100),class:"pe-4" %><%= @user.name %></h2>
  <span class="col-lg-auto pb-4 align-self-center"><%= link_to "プロフィール画像編集", edit_user_path(@user), class:"btn btn-success" %>
</div>

 <div class="row">
  <%= render @servers %>
</div>
</div>

<div class="justify-content-center mb-3">
  <%= paginate @servers %>
</div>