<div class="container-fluid p-0">
  
  <div class="">
    <h3>
      Game Nowでよくプレイされるゲーム(Top5)
    </h3>
    <div class="">
      <div class="d-flex flex-column p-3" style="font-size:25px">
        <% @ranking.each.with_index(1) do |data, i| %>
          <%= link_to servers_path(game_name: data.first), class: "mb-4", style: "text-decoration:none;" do %>
            <p class="m-0 text-black"><%= i %>位 : <%= data.first %> <%= data.last %>回</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<div class="row m-0 text-light bg-danger" style="height:100px">
    <h2 class="main-bar m-0 p-0 d-flex justify-content-center align-self-center">
      仲間を募集してみよう！
      <%= link_to new_server_path, class: " badge rounded-pill bg-light text-danger" do %>
        投稿してみる
      <% end %>
    </h2>
  </div>

  <div class="py-4">
    <h3>
      現在、仲間募集中のゲーム
    </h3>
    <div class="overflow-auto d-flex">
      <% if @game_names.empty? %>
        <div class="game_tag">
          現在、募集中の<br>
          ゲームはありません
        </div>
      <% else %>
        <% @game_names.each do | game_name | %>
            <%= link_to servers_path(game_name: game_name), class: "game_tag me-4", style: "text-decoration:none;" do %>
              <p class="m-0 text-light"><%= game_name %></p>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>