
  <% if user_signed_in? %>
    <div class="flex-shrink-0">
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0" data-bs-toggle="collapse" data-bs-target="#server-new-collapse" aria-expanded="false">
            新規投稿
          </button>
          <div class="collapse" id="server-new-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <%= link_to new_server_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do %>
                  <i class="fa-solid fa-pen-to-square align-self-center pe-1"></i>投稿
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0" data-bs-toggle="collapse" data-bs-target="#server-index-collapse" aria-expanded="true">
            掲示板
          </button>
          <div class="collapse show" id="server-index-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><%= link_to "全て", servers_path, class:"link-body-emphasis d-inline-flex text-decoration-none rounded" %></li>
              <% Server.where(play: ..Time.current, end: Time.current..).map { |o| o.game_name }.uniq.each do | game_name | %>
                <li><%= link_to game_name, servers_path(game_name: game_name), class: "link-body-emphasis d-inline-flex text-decoration-none rounded" %></li>
              <% end %>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0" data-bs-toggle="collapse" data-bs-target="#ranking-collapse" aria-expanded="false">
            ランキング
          </button>
          <div class="collapse" id="ranking-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <%= link_to about_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do %>
                  <i class="fa-solid fa-ranking-star align-self-center pe-1"></i>ランキング
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="border-top my-2"></li>
        <li class="mb-1">
          <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            アカウント
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <%= link_to user_path(current_user.id), class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do %>
                  <i class="fa-solid fa-user align-self-center pe-1"></i>マイページ
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do%>
                  <i class="fa-solid fa-right-from-bracket align-self-center pe-1"></i>ログアウト
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="flex-shrink-0">
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0" data-bs-toggle="collapse" data-bs-target="#server-index-collapse" aria-expanded="true">
            掲示板
          </button>
          <div class="collapse show" id="server-index-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><%= link_to "全て", servers_path, class:"link-body-emphasis d-inline-flex text-decoration-none rounded" %></li>
              <% Server.where(play: ..Time.current, end: Time.current..).map { |o| o.game_name }.uniq.each do | game_name | %>
                <li><%= link_to game_name, servers_path(game_name: game_name), class: "link-body-emphasis d-inline-flex text-decoration-none rounded" %></li>
              <% end %>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0" data-bs-toggle="collapse" data-bs-target="#ranking-collapse" aria-expanded="false">
            ランキング
          </button>
          <div class="collapse" id="ranking-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <%= link_to about_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do %>
                  <i class="fa-solid fa-ranking-star align-self-center pe-1"></i>ランキング
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="border-top my-2"></li>
        <li class="mb-1">
          <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            アカウント
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <%= link_to new_user_registration_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do %>
                  <i class="fa-solid fa-user-plus align-self-center pe-1"></i>新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do %>
                  <i class="fa-solid fa-right-to-bracket align-self-center pe-1"></i>ログイン
                <% end %>
              </li>
              <li>
                <%= link_to homes_guest_login_path, method: :post, class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do %>
                  <i class="fa-solid fa-users align-self-center pe-1"></i>ゲストログイン
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  <% end %>