<!DOCTYPE html>
<html>
  <head>
    <title>Game Now</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/30797ff985.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to 'Game Now', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to new_server_path, class: 'nav-link' do%>
                    <i class="fa-solid fa-pen-to-square"></i> 投稿
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to servers_path, class: 'nav-link' do %>
                    <i class="fa-solid fa-list"></i> 掲示板
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to user_path(current_user.id), class: 'nav-link' do %>
                    <i class="fa-solid fa-user"></i> マイページ
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                    <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                  <% end %>
                </li>

              <% else %>
                <li class="nav-item">
                  <%= link_to servers_path, class: 'nav-link' do %>
                    <i class="fa-solid fa-list"></i> 掲示板
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link' do %>
                    <i class="fa-solid fa-user-plus"></i> 新規登録
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to new_user_session_path, class: 'nav-link' do %>
                    <i class="fa-solid fa-right-to-bracket"></i> ログイン
                  <% end %>
                </li>
              <% end %>
              <% if false %>
                <%= image_tag current_user.image %>
                <%= current_user.name %>さん
                <%= link_to "ログアウト", log_out_path %>
              <% end %>
            </ul>
            <%= form_with(url: servers_path, method: :get, local: true, class: "d-flex") do |f| %>
              <%= f.search_field :keyword, value: params[:keyword], class: "form-control me-2", placeholder: "検索" %>
              <%= f.submit "検索", class: "btn btn-outline-success" %>
            <% end %>
          </div>
        </div>
      </nav>
    <%= yield(:bg_area) %>
    <main class="container">
      <%= yield %>
    </main>
    
    <footer class="py-4 bg-dark text-light">
      <div class="container text-center">
        <ul class="nav justify-content-center mb-3">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
          <p>
            <small>Copyright &copy;2024 Game Now,All Rights Reserved</small>
          </p>
        </ul>
      </div>
    </footer>
   
  </body>
</html>
