<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Game Now</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag 'game-now-icon.png'%>
    <link href="<%= image_path("apple-touch-icon.png") %>" rel="apple-touch-icon" sizes="180x180" type="image/png" />
    <link href="<%= image_path("android-touch-icon.png") %>" rel="icon" sizes="192x192" type="image/png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/30797ff985.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-body-secondary" style="padding:56px 0px;">
    <nav class="navbar navbar-expand-lg bg-dark fixed-top px-4 shadow-sm d-flex">
      <%= link_to 'Game Now', root_path, "data-turbolinks": "false", class: 'navbar-brand text-light' %>
      <button class="navbar-toggler text-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
          <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
        </svg>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-column d-lg-none">
          <% if user_signed_in? %>
           <div class="flex-shrink-0 pb-2">
              <ul class="list-unstyled ps-0">
                <li class="my-1">
                  <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0 text-light" data-bs-toggle="collapse" data-bs-target="#server-new-collapse" aria-expanded="false">
                    新規投稿
                  </button>
                  <div class="collapse" id="server-new-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li>
                        <%= link_to new_server_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do %>
                          <i class="fa-solid fa-pen-to-square align-self-center pe-1"></i>投稿
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0 text-light" data-bs-toggle="collapse" data-bs-target="#server-index-collapse" aria-expanded="true">
                    掲示板
                  </button>
                  <div class="collapse show" id="server-index-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-light">
                      <li><%= link_to "全てのゲーム", servers_path, class:"link-body-emphasis d-inline-flex text-decoration-none rounded text-light" %></li>
                      <% Server.where(play: ..Time.current, end: Time.current..).map { |o| o.game_name }.uniq.each do | game_name | %>
                        <li><%= link_to game_name, servers_path(game_name: game_name), class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" %></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0 text-light" data-bs-toggle="collapse" data-bs-target="#ranking-collapse" aria-expanded="false">
                    ランキング
                  </button>
                  <div class="collapse" id="ranking-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li>
                        <%= link_to about_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do %>
                          <i class="fa-solid fa-ranking-star align-self-center pe-1"></i>ランキング
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="border-top my-2"></li>
                <li class="mb-1">
                  <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0 text-light" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    アカウント
                  </button>
                  <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li>
                        <%= link_to user_path(current_user.id), class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do %>
                          <i class="fa-solid fa-user align-self-center pe-1"></i>マイページ
                        <% end %>
                      </li>
                      <li>
                        <%= link_to destroy_user_session_path, method: :delete, class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do%>
                          <i class="fa-solid fa-right-from-bracket align-self-center pe-1"></i>ログアウト
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="flex-shrink-0 pb-2">
              <ul class="list-unstyled ps-0">
                <li class="mb-1">
                  <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0 text-light" data-bs-toggle="collapse" data-bs-target="#server-index-collapse" aria-expanded="true">
                    掲示板
                  </button>
                  <div class="collapse show" id="server-index-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-light">
                      <li><%= link_to "全てのゲーム", servers_path, class:"link-body-emphasis d-inline-flex text-decoration-none rounded text-light" %></li>
                      <% Server.where(play: ..Time.current, end: Time.current..).map { |o| o.game_name }.uniq.each do | game_name | %>
                        <li><%= link_to game_name, servers_path(game_name: game_name), class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" %></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0 text-light" data-bs-toggle="collapse" data-bs-target="#ranking-collapse" aria-expanded="false">
                    ランキング
                  </button>
                  <div class="collapse" id="ranking-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li>
                        <%= link_to about_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do %>
                          <i class="fa-solid fa-ranking-star align-self-center pe-1"></i>ランキング
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="border-top my-2"></li>
                <li class="mb-1">
                  <button class="btn-toggle d-inline-flex align-items-center rounded border-0 p-0 text-light" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    アカウント
                  </button>
                  <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li>
                        <%= link_to new_user_registration_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do %>
                          <i class="fa-solid fa-user-plus align-self-center pe-1"></i>新規登録
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_user_session_path, class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do %>
                          <i class="fa-solid fa-right-to-bracket align-self-center pe-1"></i>ログイン
                        <% end %>
                      </li>
                      <li>
                        <%= link_to homes_guest_login_path, method: :post, class: "link-body-emphasis d-inline-flex text-decoration-none rounded text-light" do %>
                          <i class="fa-solid fa-users align-self-center pe-1"></i>ゲストログイン
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          <% end %>
        </ul>
        <div class="search-bar ms-auto">
          <%= form_with(url: servers_path, method: :get, local: true, class: "d-flex") do |f| %>
            <%= f.search_field :keyword, value: params[:keyword], class: "form-control", placeholder: "検索" %>
          <% end %>
        </div>
      </div>
    </nav>

    <nav class="d-none d-lg-block bg-light side-column border border-end" id="_navbarSupportedContent" style="width: 230px">
      <div class="collapse navbar-collapse d-block" id="_navbarSupportedContent">
        <ul class="navbar-nav p-4">
          <%= render 'layouts/global_buttons' %>
        </ul>
      </div>
    </nav>

    <main class="main-body bg-body-secondary">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>

    <footer class="fixed-bottom py-3 text-light bg-dark text-center shadow" style="height:56px;">
      <div class="">
        Copyright &copy;2024 Game Now,All Rights Reserved
      </div>
    </footer>
  </body>
</html>
