<!DOCTYPE html>
<html>
  <head>
    <title>DiscordNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
      <% if false %>
        <%= image_tag current_user.image %>
        <%= current_user.name %>さん
        <%= link_to "ログアウト", log_out_path %>
      <% else  %>
      ゲストさん
      <%= button_to "Discordでログイン", "/auth/discord", method: :post, data: { turbo: false } %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
